html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilo para separar los campos de texto */
.form-group {
    margin-bottom: 1.5rem; /* Espacio inferior entre los campos de texto */
}

/* Estilo para separar los botones */
.btn {
    margin-top: 1rem; /* Espacio superior entre los botones y otros elementos */
}

/* Estilo para los mensajes de error */
.text-danger {
    margin-top: 0.5rem; /* Espacio superior para los mensajes de error */
}